# ============ Python ============
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/
*.so

# ============ Virtual environments ============
venv/
.venv/
env/
ENV/

# ============ IDE / Editor ============
.vscode/
.idea/
*.swp
*.swo

# ============ OS ============
.DS_Store
Thumbs.db

# ============ Test / Coverage ============
.pytest_cache/
.coverage
htmlcov/

# ============ Project outputs ============
# فایل‌های خروجی اکسل و CSV
*.xlsx
*.xlsm
*.xls
*.csv

# ولی نمونه‌های پوشهٔ examples حتماً باشن
!examples/*.xlsx
!examples/*.csv
!examples/*.xlsm

# ============ Trash / temporary ============
trash/
temp/
tmp/